<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaoli.dao.ResultStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.yaoli.beans.ResultStatistics" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="sewageID" property="sewageid" jdbcType="INTEGER" />
    <result column="sewageName" property="sewagename" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="waterflow" property="waterflow" jdbcType="DOUBLE" />
    <result column="reduceCOD" property="reducecod" jdbcType="REAL" />
    <result column="reduceNH3N" property="reducenh3n" jdbcType="REAL" />
    <result column="reduceP" property="reducep" jdbcType="REAL" />
    <result column="pumpRunTime" property="pumpruntime" jdbcType="INTEGER" />
    <result column="water" property="water" jdbcType="REAL" />
    <result column="cod" property="cod" jdbcType="REAL" />
    <result column="nh3n" property="nh3n" jdbcType="REAL" />
    <result column="p" property="p" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, sewageID, sewageName, year, month, day, waterflow, reduceCOD, reduceNH3N, reduceP, 
    pumpRunTime, water, cod, nh3n, p
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from result_statistics
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="getLatestResultStatisticsBySewageid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	select top 1 <include refid="Base_Column_List" /> from result_statistics where sewageID=#{id,jdbcType=INTEGER} order by ID desc
  </select>

  <select id="getResultStatisticsByDateAndSewageid" resultMap="BaseResultMap" parameterType="hashmap" >
  	select <include refid="Base_Column_List" /> from result_statistics 
  	where year = #{year,jdbcType=VARCHAR} and (month=#{month,jdbcType=VARCHAR} or month=#{month_a,jdbcType=VARCHAR}) 
  	and (day=#{day,jdbcType=VARCHAR} or day=#{day_a,jdbcType=VARCHAR}) and sewageid = #{sewageid,jdbcType=VARCHAR}
  </select>  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from result_statistics
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.yaoli.beans.ResultStatistics" >
    insert into result_statistics (ID, sewageID, sewageName, 
      year, month, day, waterflow, 
      reduceCOD, reduceNH3N, reduceP, 
      pumpRunTime, water, cod, 
      nh3n, p)
    values (#{id,jdbcType=BIGINT}, #{sewageid,jdbcType=INTEGER}, #{sewagename,jdbcType=VARCHAR}, 
      #{year,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, #{waterflow,jdbcType=DOUBLE}, 
      #{reducecod,jdbcType=REAL}, #{reducenh3n,jdbcType=REAL}, #{reducep,jdbcType=REAL}, 
      #{pumpruntime,jdbcType=INTEGER}, #{water,jdbcType=REAL}, #{cod,jdbcType=REAL}, 
      #{nh3n,jdbcType=REAL}, #{p,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yaoli.beans.ResultStatistics" >
    insert into result_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sewageid != null" >
        sewageID,
      </if>
      <if test="sewagename != null" >
        sewageName,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="waterflow != null" >
        waterflow,
      </if>
      <if test="reducecod != null" >
        reduceCOD,
      </if>
      <if test="reducenh3n != null" >
        reduceNH3N,
      </if>
      <if test="reducep != null" >
        reduceP,
      </if>
      <if test="pumpruntime != null" >
        pumpRunTime,
      </if>
      <if test="water != null" >
        water,
      </if>
      <if test="cod != null" >
        cod,
      </if>
      <if test="nh3n != null" >
        nh3n,
      </if>
      <if test="p != null" >
        p,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sewageid != null" >
        #{sewageid,jdbcType=INTEGER},
      </if>
      <if test="sewagename != null" >
        #{sewagename,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="waterflow != null" >
        #{waterflow,jdbcType=DOUBLE},
      </if>
      <if test="reducecod != null" >
        #{reducecod,jdbcType=REAL},
      </if>
      <if test="reducenh3n != null" >
        #{reducenh3n,jdbcType=REAL},
      </if>
      <if test="reducep != null" >
        #{reducep,jdbcType=REAL},
      </if>
      <if test="pumpruntime != null" >
        #{pumpruntime,jdbcType=INTEGER},
      </if>
      <if test="water != null" >
        #{water,jdbcType=REAL},
      </if>
      <if test="cod != null" >
        #{cod,jdbcType=REAL},
      </if>
      <if test="nh3n != null" >
        #{nh3n,jdbcType=REAL},
      </if>
      <if test="p != null" >
        #{p,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaoli.beans.ResultStatistics" >
    update result_statistics
    <set >
      <if test="sewageid != null" >
        sewageID = #{sewageid,jdbcType=INTEGER},
      </if>
      <if test="sewagename != null" >
        sewageName = #{sewagename,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="waterflow != null" >
        waterflow = #{waterflow,jdbcType=DOUBLE},
      </if>
      <if test="reducecod != null" >
        reduceCOD = #{reducecod,jdbcType=REAL},
      </if>
      <if test="reducenh3n != null" >
        reduceNH3N = #{reducenh3n,jdbcType=REAL},
      </if>
      <if test="reducep != null" >
        reduceP = #{reducep,jdbcType=REAL},
      </if>
      <if test="pumpruntime != null" >
        pumpRunTime = #{pumpruntime,jdbcType=INTEGER},
      </if>
      <if test="water != null" >
        water = #{water,jdbcType=REAL},
      </if>
      <if test="cod != null" >
        cod = #{cod,jdbcType=REAL},
      </if>
      <if test="nh3n != null" >
        nh3n = #{nh3n,jdbcType=REAL},
      </if>
      <if test="p != null" >
        p = #{p,jdbcType=REAL},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaoli.beans.ResultStatistics" >
    update result_statistics
    set sewageID = #{sewageid,jdbcType=INTEGER},
      sewageName = #{sewagename,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      waterflow = #{waterflow,jdbcType=DOUBLE},
      reduceCOD = #{reducecod,jdbcType=REAL},
      reduceNH3N = #{reducenh3n,jdbcType=REAL},
      reduceP = #{reducep,jdbcType=REAL},
      pumpRunTime = #{pumpruntime,jdbcType=INTEGER},
      water = #{water,jdbcType=REAL},
      cod = #{cod,jdbcType=REAL},
      nh3n = #{nh3n,jdbcType=REAL},
      p = #{p,jdbcType=REAL}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>